{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

<div class="fullpage">
    <div class="main_grid">
        <header class="name_tag">
            <img src="{{ .RelPermalink }}" />
        </header>

        <div class="introduction">
            {{ page.headline|richtext }}
        </div>

        <nav class="nav_links">
            <ul>
                {% for link in page.home_menu_links.all %}
                <li>
                    <a href={% firstof link.external_url link.page_link.get_url %}>
                        <box-icon type='solid' name='{{ link.boxicons_icon_name }}' size="lg"></box-icon> 
                        <p>{{ link.name }}</p>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>

        <img class="hero_image" src="{{ .RelPermalink }}" />


        <div class="content-box">
            <article class="content">
                {{ page.biography|richtext }}
            </article>
        </div>

    </div>

    <footer>
        <p class="copyright">&copy2024 Kiersten Case</p>
    </footer>

</div>

{% endblock content %}
