{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

<div class="fullpage">
    <div class="main_grid">
        <header class="name_tag">
            <img src="{% static "images/nametag.svg" %}" />
        </header>

        <div class="introduction">
            {{ page.headline|richtext }}
        </div>

        <nav class="nav_links">
            <ul>
                {% for link in page.home_menu_links.all %}
                <li>
                    {% if link.external_url %}
                    <a href={{link.external_url }}>
                    {% else %}
                    <a href={% pageurl link.page_link %}>
                    {% endif %}
                        <box-icon type='solid' name='{{ link.boxicons_icon_name }}' size="lg"></box-icon> 
                        <p>{{ link.name }}</p>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>

        <img class="hero_image" src="{% static "images/kiersten-smile.webp" %}" fetchpriority="low" />


        <div class="content-box">
            <article class="content">
                {{ page.biography|richtext }}
            </article>
        </div>

        {% comment %} {% for photo in page.photo_gallery.all %}
            {% image photo.photo max-200x200 %}
        {% endfor %} {% endcomment %}

    </div>

    <footer>
        <p class="copyright">&copy{% now "Y" %} Kiersten Case</p>
    </footer>

</div>

{% endblock content %}
