{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}
<div class="contentpage">
<h2>{{ page.title }}</h2>
<p>{{ page.blog_headline|richtext }}</p>

<ol class="postlist">
    {% for post in blog_posts %}
    <li>
        <a href={% pageurl post %} class="blogpost">
        <div class="postblock">
            {% image post.specific.post_cover_image fill-200x200 %}
            <h3>{{ post.title }}</h3>
            <p class="postdate">{{ post.first_published_at | date }}</p>
            <div class="postsummary">
                {{ post.specific.post_summary|richtext}}
            </div>
        </div>
        </a>
    </li>
    {% endfor %}
</ol>
</div>

{% endblock %}