{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block navigation %}
<a href={% pageurl parent_page %}>
    <box-icon name='arrow-back' size="lg"></box-icon>
</a>
<a href={% pageurl root_page %}>
    <box-icon name='home' size="lg"></box-icon>
</a>
{% endblock %}

{% block content %}
<div class="contentpage">
    {% image page.post_cover_image max-500x500 class="postimage" %}
    <div class="postheader">   
        <h1>{{ page.title }}</h1>
        <p>{{ page.first_published_at }}</p>
    </div>
    <article class="postcontent">
        <strong>{{ page.post_summary|richtext }}</strong>
        <hr>
        {{ page.post_content|richtext }}
    </article>
</div>
{% endblock %}