{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'ms_kiersten/css/kindermusik.css' %}">
{% endblock extra_css %}

{% block content %}


    <div class="main_grid">

        <div class="introduction">
            <h1>{{ page.headline }}</h1>
            <h2>{{ page.subheading }}</h2>
        </div>

        {% image page.hero_image width-400 %}


        <div class="content-box">
            <article class="content">
                {{ page.main_content|richtext }}
            </article>
        </div>

    </div>



{% endblock content %}
